/* style body*/

#section1 {
    height: 100vh;
}

.parallax {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.img1 {
    background-image: url(img/Brownie-de-cacao.webp);
    width: 100%;
    height: 150vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: -5vh;
    background-repeat: no-repeat;
}

#section2 {
    height: 100vh;
}

h1 {
    padding-top: 450px;
    text-align: center;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 60px;
}

.img2 {
    background-image: url(img/Coffee-Feature.jpg);
    width: 100%;
    height: 190vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 0vh;
    background-repeat: no-repeat;
}

#section3 {
    height: 100vh;
    background-color: #f2e3d5;
}

.parallax2 {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.texto {
    padding-top: 600px;
}

.seccion-texto {
    background-color: #613217;
    height: 10vh;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

p {
    padding-top: 10px;
}

.responsivo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.img img {
    max-height: 350px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.div-text {
    margin: 20px 0;
    height: 200px;
    width: 400px;
}

#section4 {
    height: 100vh;
    background-color: #f2e3d5;
}

.contenedor-slider {
    width: 85%;
    max-width: 900px;
    position: relative;
    overflow: hidden;
    padding-top: 7vh;
    margin: auto;
}

.slider {
    display: flex;
    width: 400%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
}

.btn-prev,
.btn-next {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-family: monospace;
    cursor: pointer;
}

.btn-prev:hover,
.btn-next:hover {
    background: white;
}

.btn-prev {
    left: 10px;
}

.btn-next {
    right: 10px;
}

#local1 {
    max-width: 900px;
    max-height: 400px;
    height: 100%;
    width: 100%;
}

#local2 {
    max-width: 900px;
    max-height: 400px;
    height: 100%;
    width: 100%;
}

#local3 {
    max-width: 900px;
    max-height: 400px;
    height: 100%;
    width: 100%;
}

#local4 {
    max-width: 900px;
    max-height: 400px;
    height: 100%;
    width: 100%;
}

#titulo4 {
    border-bottom: #613217 2px solid;
    margin: 0 auto;
}

.titulo4 {
    text-align: center;
    color: #613217;
    font-size: 40px;
    font-weight: bold;
}

#section5 {
    height: 100vh;
    background-color: #f2e3d5;
}

@media screen and (max-width:1216px) {
    #section5,
    #section3 {
        height: max-content;
    }
}

#tituloapi {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}


/* footer
 
 .iconos-footer {
     height: 40%;
     text-align: center;
 }
 
 .fa {
     padding: 20px 0px;
     font-size: 30px;
     width: 50px;
     text-align: center;
     text-decoration: none;
     color: #613217;
 }
 
 .fa:hover {
     color: #ffffff;
 }
 
 .contacto-footer {
     height: 60%;
     text-align: center;
     color: #613217;
     font-weight: bolder;
 }
 
 #contacto {
     text-decoration: none;
     color: #613217;
 }
 
 #contacto:hover {
     color: #ffffff;
 }
 
 .footer {
     background-color: #eccaaa;
     height: 20vh;
 } */


/*Style API*/

a img {
    width: 100%;
    border-radius: 5%;
    /* border: #613217 3px solid; */
}

#instafeed-container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}

#instafeed-container a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 20px;
    padding-left: 10px;
    margin-top: 20px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    #instafeed-container {
        flex-direction: column;
    }
}